body {
    background: #F2F2F2;
  }
  
  .bg-primary {
    background: #328195 !important;
  }
  
  .bubble {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    border-color: rgba(255, 255, 255, 0.12) !important;
    background: rgba(255, 255, 255, 0.05) !important;
    color: #ffffff;
  }
  
  .date {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 4px 10px;
  }
  
  .cover-image {
    position: relative;
    max-height: 200px;
    overflow: hidden;
  }
  
  a {
    color: #328195;
    text-decoration: none;
  }
  
  .input-icon {
    position: relative;
  }
  
  .input-icon input {
    border: none;
    border-bottom: 1px solid #ced4da;
    padding-left: 30px;
  }
  
  .input-icon i {
    position: absolute;
    left: 20px;
    top: 25px;
    opacity: 0.5;
  }
  
  .categories a.badge {
    color: #328195;
    border-color: #328195;
  }
  
  .categories a.badge.active {
    background: #328195;
    color: #ffffff;
  }
  
  .card {
    transition: all 0.2s;
  }
  
  .card:hover {
    background: #ffffff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  
  .card:hover h2 a {
    transition: all 0.2s;
    color: #328195 !important;
  }
  
  .card:hover img {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  
  .card:hover .has-multiple button {
    display: block;
  }
  
  .card:hover .has-multiple-icon {
    opacity: 0.2;
  }
  
  .card .has-multiple-icon {
    position: absolute;
    top: 160px; /* 200px - 40px */
    right: 15px;
    color: #ffffff;
  }
  
  .has-multiple {
    position: relative;
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
  }
  
  .has-multiple img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .has-multiple button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    display: none;
  }
  
  .has-multiple button:hover {
    color: #94c5d4; /* lighten(#328195, 35%) estimado */
  }
  
  .has-multiple button.prev {
    left: 10px;
  }
  
  .has-multiple button.next {
    right: 10px;
  }
  

  .colpers{
    max-width: 50%;
    min-width: 244px;
  }

  @media (min-width: 992px) {
    .row-cols-lg-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  }
  @media (max-width: 768px) {
    .conteinerresp {
        max-width: 100%;
        min-width: 260px;
      }
      .colpers{
        max-width: 50%;
        min-width: 50%;
       
      }
}

  @media (max-width: 700px) {
    .colpers{
        max-width: 50%;
        min-width: 50%;
       
      }
    
  }
  

  @media (max-width: 470px) {
    .colpers{
        max-width: 100%;
        min-width: 100%;
       
      }
    
  }

  @media (max-width: 576px) {
    .conteinerresp {
      max-width: 100%;
    }
  }

